body {
  background-color: black;
}

h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}

.container {
  padding: 30px;
}

.col-md-4 {
 height: 220px;
 border: 3px solid white;
 font-size: 160px;
 text-align: center;
 color: white;
 border-radius: 15px;
}

.winMessage1 {
  display: none;
}

.winMessage2 {
  display: none;
}